<link rel="stylesheet" type="text/css" href="static/styles/root.css">
<link rel="stylesheet" type="text/css" href="static/styles/footer.css">
<script>
    function reveal() {
       var reveals = document.querySelectorAll(".reveal");

       for (var i = 0; i < reveals.length; i++) {
          var windowHeight = window.innerHeight;
          var elementTop = reveals[i].getBoundingClientRect().top;
          var elementVisible = 150;

          if (elementTop < windowHeight - elementVisible) {
             reveals[i].classList.add("active");
          } else {
             reveals[i].classList.remove("active");
          }
       }
    }
    window.addEventListener("scroll", reveal);
</script>

<footer class="footer">
    <div class = contact-us>
        <h1> Ready to work with us?</h1>
        <button class="big-button" onclick="location.href='mailto:kaci.xie@yale.edu'">Contact Us</button>
    </div>
    <div class = "bottom">
        <div class="logo-and-icons">
            <a href="index" class="header_logo_white">
                <img src="/static/images/Cimu logo yellow.png" alt="logo-yellow" width="80%">
            </a>
            <span class = "icons-row">
                <a href="index" class="icons">
                    <img src="/static/images/Instagram icon.png" alt="instagram-logo-yellow" style="max-width: 50px; max-height: 50px">
                </a>
                <a href="index" class="icons">
                    <img src="/static/images/Tiktok icon.png" alt="Tiktok-logo-yellow" style="max-width: 50px; max-height: 50px">
                </a>
                <a href="index" class="icons">
                    <img src="/static/images/Linkedin icon.png" alt="Linkedin-logo-yellow" style="max-width: 50px; max-height: 50px">
                </a>
            </span>
        </div>
        <div class="bottom-menu">
            <a href="about">About</a>
            <a href="database">Find a Tailor</a>
            <a href="login">Login</a>
            <a href="mailto:kaci.xie@yale.edu"> Contact Us</a>
        </div>
        <div class="newsletter">
            <p style="color:rgba(249, 248, 190, 1);">Website created by Ethan Kopf, Amay Tewari, Kaci Xie and Zepto Zhou</p>
        </div>
    </div>
</footer>
