<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="">
   <link rel="stylesheet" type="text/css" href="static/styles/root.css">
   <link rel="stylesheet" type="text/css" href="static/styles/hero_page.css">
   <title>Cimu Tailoring Services</title>
</head>
<script>
   function reveal() {
      var reveals = document.querySelectorAll(".reveal");

      for (var i = 0; i < reveals.length; i++) {
         var windowHeight = window.innerHeight;
         var elementTop = reveals[i].getBoundingClientRect().top;
         var elementVisible = 150;

         if (elementTop < windowHeight - elementVisible) {
            reveals[i].classList.add("active");
         } else {
            reveals[i].classList.remove("active");
         }
      }
   }
   window.addEventListener("scroll", reveal);
</script>

<body>
   {% include 'Templates/navbar.html' %}
   <div class="landing-page">
      <div class="hero-message">
         <div class="line1">
            <span class="improving">
               <span class="hero-text">improving</span>
            </span>
            <span class="clothing"> clothing</span>
         </div>
         <div class="line2-and-3">
            <span class="underlined-text">
               <span class="hero-text">sales</span>
               <span class="underline"></span>
            </span>
            <span class="hero-text">through</span>
         </div>
         <div class="line2-and-3">
            <span class="hero-text">easy,</span>
            <span class="underlined-text">
               <span class="hero-text">accessible</span>
               <span class="underline"></span>
            </span>
         </div>
         <div class="alterations">
            <span class="hero-text">alterations</span>
         </div>
      </div>
      <div class="learn-more" onclick="window.location = 'database';">
         <div class="learn-more-text">Find Me a Tailor</div>
      </div>
   </div>
   <div class="reveal fade-bottom">
      <img src="/static/images/Clothes.png" width=100% height="auto">
   </div>
   <div class="page2">
      <div class="page2-content">
         <span class="opening-info">
            <h1 style="color:#1E4621">Planet-Saving Clothing Alterations</h1>
            <p>Cimu is a business intelligence startup that help fashion brands reduce returns by connecting consumers
               with easy and
               accessible clothing alterations.</p>
            <button onclick="location.href='mailto:kaci.xie@yale.edu'">Partner with Us</button>
      </div>
      </span>
      <div class="reveal fade-right">
         <img src="/static/images/hero-image2.png">
      </div>
   </div>
   </div>


   <!-- <h1>Tailor Search</h1>
      <form action="index" method="post">
         Search Tailors:
         <br>
         Company Name:
         <input type="text" name="company" value="{{company}}">
         <br>
         Zipcode:
         <input type="text" name="zipcode" value="{{zipcode}}"> -->


   <!-- <select name="Town" id="Town">
            <option value="All">All</option>
            <option value="New Haven">New Haven</option>
            <option value="Hamden">Hamden</option>
            <option value="Milford">Milford</option>
         </select> -->

   <!-- <br>
         Rating:
         <input type="text" name="rating" value="{{rating}}"> -->

   <!-- <select name="Rating" id="Appointment Type">
            <option value="All">All</option>
            <option value="Appointment Not Required">Appointment Not Required</option>
            <option value="Appointment-Only">Appointment-Only</option>
         </select> -->
   <!-- <br> -->
   <!-- Filter Currently Available Only:
         <input type="checkbox" name="Available-Only" value="Available-Only" checked> -->

   <!-- <br>
         <input type="submit" value="Go">
      </form> -->
   {% include 'Templates/footer.html' %}
</body>

</html>